/* coincard-main-containerstyling*/
.coin-container{
    color:black;
    height: 70%;
    border: solid;
    gap: 250px;
    background-color: white;
    padding: 30px;
     
}
/* coin-image styling */
.coin-image{
    height:120px;
    width: 120px;
    padding: 20px;
}
/* count-cart styling */
.coin-badge{
    height:50px;
    width: 90px;
    text-align: center;
    background-color: lightblue;
    margin-left: 20px;
}