.header{
    width: 100%;
    height: 10vh;
    background-color:lightslategrey;
    color: white;
    font-size: 30px;
    font-weight: 80px;
    display:flex;
    justify-content: flex-end;
}
.name{
  margin-right: 1100px;
  margin-top:20px;
}